In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv('../data/train_labels.csv')
test_data = pd.read_csv('../data/submission_format.csv')

In [3]:
test_data['value'] = test_data['grid_id'].apply(
    lambda x: train_data[train_data['grid_id'] == x]['value'].mean()
)

In [4]:
test_data.head()

               datetime grid_id      value
0  2017-01-07T16:00:00Z   1X116  13.202672
1  2017-01-07T16:00:00Z   9Q6TA  14.093774
2  2017-01-07T16:00:00Z   KW43U  14.316362
3  2017-01-07T16:00:00Z   VR4WG  15.911455
4  2017-01-07T16:00:00Z   XJF9O  13.256226

In [5]:
test_data.to_csv('../data/submission_0.csv')